
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  color: black;
  font-family: "raleway", "Helvetica", "Arial", sans-serif;
}

.navbar-default .navbar-brand {
  margin-top: 10px;
  transition: all .5s;
}

img.raised {
  height: 50px;
  width: 50px;
}

.sm-form {
  float: right;
}

.img-rounded {
  border-radius: 6px;

}

.form-control,
.form-group .form-control {
  border: 0;
  background-image: linear-gradient(#4CAF50, #4CAF50), linear-gradient(#4CAF50, #4caf50);
}

#navbar {
    background-color: #4CAF50;
    margin-bottom: 0px;
    padding: 0px;
}

.user-section {
    margin-top: 20px;
    font-size: 22px;
    background-color: #4CAF50;
    overflow: hidden;
    border-bottom: none;
    text-transform: capitalize;
    color: #fff;
}
.user-section-inner img {
    margin-left: 10px;
    width: 100%;
    height: 100%;
}
.user-section-inner {
    height: 200px;
    width: auto;
    -moz-border-radius: 3px;
    /* -webkit-border-radius: 3px; */
    /* border-radius: 3px; */
    overflow: initial;
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-top: 0px;
}

#side-menu {
  background-color: #4CAF50;
}

#wrapper {
    width: 100%;
    margin-top: 68px !important;
    background-color: #4CAF50;
}
.navbar-static-side ul li {
    border-bottom: 1px solid #4CAF50 !important;
}
#side-menu a {
    color: #fff;
    border-bottom: 1px solid #fff!important;
    height: 55px;
}
.selected {
    background-color: #607D8B;
}
.nav > li > a {
    padding: 20px 15px;
    text-transform: capitalize;
}

img.admin_product_edit {
    margin-bottom: 10px;
    height: 130px;
}
.product_image span {
    position: absolute;
    top: 0;
    margin: 0px;
    padding: 7px;
    font-size: 5px;
    /* left: 4px; */
}

img {
    
    max-width: 100%;
    
}
.alert, .alert.alert-default {
    background-color: #607D8B;
    color: #ffffff;
}
.navbar {
   
    padding: 0px 0;
}
@media (max-width: 767px)
{
.navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
}}